<%- include ('partials/header.ejs') %>
    <h1>PEDIDOS</h1>
    <div id="mainCardWrapper">
        <% pedidosLista.forEach(pedido=> { %>
            <div class="card" style="width: 18rem;">
                <div class="card-body">
                    <p class="card-text">
                        <%= pedido.numPedido %></br>
                            <%= pedido.valor %>
                    </p>
                </div>
            </div>

            <% }) %>
    </div>
    <%- include ('partials/footer.ejs') %>